<nav>

<div>
  <a href="">切换城市<img src="./.././assets/images/index/triangle_down_fill.png"></a>
</div>

<ul>
  <li><a [routerLink]="['/index','我是默认值']" routerLinkActive="active">首页</a></li>
  <li><a href="left-sidebar.html">专属定制</a></li>
  <li><a href="right-sidebar.html">服务套餐</a></li>
  <li><a href="no-sidebar.html">浪漫攻略</a></li>
  <li><a href="no-sidebar.html">真实案例</a></li>
</ul>

<div id="login_regist">
  <a href="">登录</a>
  <a href="">注册</a>
</div>
</nav>


<div>
  <router-outlet>

  </router-outlet>
</div>


<!-- Footer -->
<div id="footer">
  <div class="container">
    <section>
      <header>
        <h2>VE 定制</h2>
      </header>
      <ul class="contact">
        <li><a href="">关于我们</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">品质保证</a></li>
        <li><a href="">隐私保护</a></li>
        <li><a href="">网站地图</a></li>
      </ul>

      <ul id="icons">
        <li><img src="./../assets/images/index/qq%20(3).png" alt=""></li>
        <li><img src="./../assets/images/index/wechat%20(1).png" alt=""></li>
        <li><img src="./../assets/images/index/weibo%20(2).png" alt=""></li>
        <li><img src="./../assets/images/index/email%20(2).png" alt=""></li>
      </ul>
    </section>
  </div>
  <div id="copyright">Copyright @2013-2017 VE定制 策划浪漫公司</div>
</div>
